@model AddressBook.Models.Contact

@{
    ViewBag.Title = "Delete";
}

<h2>Delete this contact?</h2>
&nbsp;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <dl class="row">
            <dd class="col-sm-10">
                @($"{Model.FirstName} {Model.LastName}")
            </dd>
            <dd class="col-sm-10">
                @($"{Model.Address.Street}")
            </dd>
            @if (!String.IsNullOrEmpty(Model.Address.Unit))
            {
                <dd class="col-sm-10">
                    @($"{Model.Address.Unit}")
                </dd>
            }
            <dd class="col-sm-10">
                @($"{Model.Address.City}, {Model.Address.State} {Model.Address.ZipCode}")
            </dd>
        </dl>
    </div>

    <div class="form-actions no-color">
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Go Back", "ViewAll")
    </div>
}