@model IEnumerable<AddressBook.Models.Contact>

@{
    ViewBag.Title = "ViewAll";
}

<h2>View All Contacts</h2>

<table class="table">
    <tr>
        <th>First Name</th>
        <th>
            @Html.ActionLink("Last Name", "ViewAll", new {sortOrder = ViewBag.NameSortParm })
        </th>
        <th>Address</th>
    </tr>

@{ 
    int i = 0;
}
@foreach (var item in Model)
{
    string rowColor;
    i++;

    if (i % 2 == 0)
    {
        rowColor = "normalRowColor";
    }
    else
    {
        rowColor = "altRowColor";
    }

    <tr class="@rowColor">
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
